NGINX_MAIN_CONFIG_FILE=/userapps/configs/nginx/nginx.conf
NGINX_CONFD_DIR=/userapps/configs/nginx/conf.d
NGINX_GEOIP_DIR=/userapps/configs/geoip2/data
NGINX_SSL_DIR=/userapps/ssl
NGINX_LOG_DIR=/var/log/nginx
NGINX_NETWORK_NAME=lzo
NGINX_HTTP_BIND=127.0.0.1:8080:80
NGINX_HTTPS_BIND=443:443
